@use 'variables' as v;
@use 'mixins';

.input{
    border:1px solid red;
    height:57px;
    display:flex;
    justify-content: space-between;
    &__minus,&__plus{
        @include mixins.changeNumber(5px, 4px);
    }
}
