/* Error: expected "{".
 *    ,
 * 11 |         background-position-y: -40px;
 *    |                                     ^
 *    '
 *   sass\_gallery.scss 11:37  @use
 *   sass\styles.scss 6:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 11 \2502          background-position-y: -40px;\d\a    \2502                                      ^\a    \2575 \a   sass\\_gallery.scss 11:37  @use\a   sass\\styles.scss 6:1      root stylesheet';
}
